.backgroung-bg {
  background-image: url("../../../../content/assets/images/services/services-bg.jpg");
  background-size: cover;
  background-position: 1200% 50%;
}

.service-tile {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
