// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  .circle {
    width: 225px;
    height: 225px;
  }
  h4 {
    margin-bottom: 25px;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
